<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>FreshVotes Features</title>

    <!-- Use this to replace the header we want to include in every html file -->
    <script th:replace="fragments/header :: headerElement"></script>

</head>

<!-- in case the product is null -->
<body>

<!-- Add the navigation bar -->
<div th:replace="fragments/header::header"></div>

<div class="container">
    <h1>New Feature</h1>

</div>

</body>
</html>