<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FreshVotes Homepage</title>

    <!-- Use this to replace the header we want to include in every html file -->
    <script th:replace="fragments/header :: headerElement"></script>

</head>
<body>

    <!-- Add the navigation bar -->
    <div th:replace="fragments/header::header"></div>

    <div class="container">
        <div class="row" style="margin-top: 2em">
            <div class="col-8">
                <h1>Welcome to FreshVotes</h1>
            </div>

            <div class="col-4">
                <button class="btn btn-primary btn-lg float-right" type="button" id="login">Login</button>
            </div>
        </div>
    </div>

    <!-- listen to the login button -->
    <script type="text/javascript">
        let loginBtn = document.getElementById('login')

        loginBtn.addEventListener('click', function () {
            window.location.href = '/login'
        })
    </script>

</body>
</html>