<!--
2020-03-29 21:10:42

    There is something wrong about the main part of the login page.
    We should probaly fix that.

-->

<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>FreshVotes Login</title>

    <!-- Use this to replace the header we want to include in every html file -->
    <script th:replace="fragments/header :: headerElement"></script>

    <!--  using jQuery  -->
    <script
            src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8="
            crossorigin="anonymous"></script>

    <!--  action to take is the button is clicked  -->
    <script type="text/javascript">
        $(function () {
            $("#createAccount").click(function () {
                window.location.href = "/register";
            });
        });
    </script>

</head>

<body>
    <!-- Add the navigation bar -->
    <div th:replace="fragments/header::header"></div>

    <!-- There are always 12 cols in a container -->
    <div class="container">

        <!-- Use a card to wrap all the things we have. It's like a container -->
        <div class="card" style="margin-top: 1.4em">

            <div class="card-header"><h2>Please Login</h2></div>

            <div class="card-body">
                <form action="" method="post">

                    <!--   Enable csrf protection here.   -->
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

                    <!-- A bootstrap alter class -->
                    <div th:if="${param.error != null}" class="alert alert-danger" role="alert">
                        Failed to login.
                        <div th:if="${SPRING_SECURITY_LAST_EXCEPTION != null}">
                            Reason: <span th:text="${SPRING_SECURITY_LAST_EXCEPTION.message}"></span>
                        </div>
                    </div>

                    <div th:if="${param.logout != null}">
                        You have been logged out.
                    </div>

                    <!-- Look for more details what class to use on doc of Bootstrap -->
                    <div class="form-group row">
                        <!-- The "lg" here is specifying the ration in different situation -->
                        <!-- The col-12 col-12 here means when the screen is samll, put them in two row -->
                        <div class="col-12 col-lg-2">
                            <label for="username" class="col-form-label">Username</label>
                        </div>
                        <div class="col-12 col-lg-10">
                            <input type="text" class="form-control" id="username" name="username" />
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-12 col-lg-2 ">
                            <label for="password" class="col-form-label">Password</label>
                        </div>
                        <div class="col-12 col-lg-10">
                            <input type="password" class="form-control" id="password" name="password" />
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-6">
                            <!--   the "submit" type means submiiting the form we have here    -->
                            <!--  using btn-primary from bootstrap to change the style of the button  -->
                            <button type="submit" class="btn btn-lg btn-primary float-left">Log in</button>
                        </div>

                        <div class="col-6">
                            <button type="button" class="btn btn-lg btn-info float-right" id="createAccount">Create Account</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>