<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>FreshVotes Product</title>

    <!-- Use this to replace the header we want to include in every html file -->
    <script th:replace="fragments/header :: headerElement"></script>

</head>

<!-- in case the product is null -->
<body>

    <div class="container" th:if="${product != null}">
        <h1>Product</h1>

        <form action="" method="post">

            <!--   Enable csrf protection here.   -->
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

            <!-- populate the info of `product` in the model into the backend.
                 Very important ! -->
            <input type="hidden" th:field="${product.id}" />
            <input type="hidden" th:field="${product.user}"/>


            <div class="form-group row">
                <label for="name" class="col-form-label col-12 col-sm-3 col-lg-2">Name</label>
                <div class="col-12 col-sm-9 col-lg-10">
                    <input type="text" class="form-control" th:field="${product.name}" />
                </div>
            </div>

            <!-- A checkbox for the "published" -->
            <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" th:field="${product.published}" />

                <!-- We use "published1" here because we need to check the checkbox by clicking the label
                     For more info, see video 30 -->
                <label class="custom-control-label" for="published1">is published</label>
            </div>

            <button class="btn-primary btn btn-lg" type="submit">Save Product</button>

        </form>
    </div>

</body>
</html>